body {
	background: #684949 ; 
	-webkit-background-size: cover;
}
.cuadro{
	border:2px solid black;
	color: white;
	font-family: algerian;
	font-size:30px;
	text-align: center;
	opacity: red;
	background-color: #6384b3;
	padding: 1px;
	margin: 7px;
}
.cdr{
	box-shadow: 5px -9px 3px #e6f0b6;
}
p {
	margin: 0 !important;
	padding: 0 !important;
}
h1 {
	text-align: center;
	font-family: algerian;
	font-size: 80px;
	color:white;
	background-color: #6384b3;
	padding: 0 !important;
}
.im {
	width: 100%;
	height: 300px;
	background-color: #b8e9c0;
	border:2px solid black;
}
.jp {
	background-color: #684949;
	border: 1px solid #684949;
}
.spd {
	padding: 0 !important;
}
.a {
	border:1px solid black;
}
.cc {
	text-align: center;
	border: 1px solid black;
	background-color: #6384b3;
	font-family: algerian;
	font-size:30px;
	color: #FFFFFF;
}
.ww {
	color: #FFFFFF;
}