body {
	background: #684949 ; 
	-webkit-background-size: cover;
}
.cuadro{
	border:2px solid black;
	color: white;
	font-family: algerian;
	font-size:30px;
	text-align: center;
	opacity: red;
	background-color: #6384b3;
}

p {
	margin: 0 !important;
	padding: 0 !important;
}
h1 {
	text-align: center;
	font-family: algerian;
	font-size: 80px;
	color:white;
	background-color: #6384b3;
	padding: 0 !important;
}
.im {
	width: 100%;
	height: 300px;
	background-color: #b8e9c0;
	border:2px solid black;
}